.parallax {
    background-image: url('https://i.imgur.com/vtsvxoh.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: none;
    background-size: cover;


}