<!--Fonte personalizada-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
<!--/Fonte personalizada-->

<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">

    <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/9reCUm5.jpg" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center font-weight-bold">{{nome}}</h5>
    <p class="card-text text-center">Desenvolvedora Web FullStack Jr.</p>
    <a href="https://www.linkedin.com/in/gabriela-gomes-c/"
      class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/gabgome/" class="btn btn-outline-dark d-flex justify-content-center"
      target="_blank">GitHub</a>
  </div>
</div>